.information {
  list-style-type: disc;
  overflow-y: auto;
  height: 120px;
  padding-left: 22px;

  @media (max-width: $desktop-stretching-width) {
    height: calc(120 / 1338 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    height: calc(120 / 768 * 100vw);
  }

  @media (max-width: $max-mobile-width) {
    height: calc(120 / 320 * 100vw);
  }

  @media (max-width: $mobile-width-only) {
    height: 120px;
  }
}

.information__item {
  margin-bottom: 13px;
  letter-spacing: 0.1px;
}

.information__item:last-child {
  margin-bottom: 0;
}
