.reviews {
  width: 695px;
  margin: 0 auto 120px;

  @media (max-width: $max-tablet-width) {
    width: 700px;
    margin-bottom: 100px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    margin-bottom: 70px;
  }
}

.reviews--nojs {
  width: 1160px;
}

.reviews h2 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  margin-bottom: 53px;
  text-align: center;
  letter-spacing: 1.5px;

  @media (max-width: $max-tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 41px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 44px;
  }
}

.reviews__swiper-wrapper {
  position: relative;
}

.reviews__swiper {
  overflow: hidden;
  margin: 0 auto;
  width: 560px;

  @media (max-width: $max-tablet-width) {
    width: 566px;
  }

  @media (max-width: $max-mobile-width) {
    width: calc(226 / 320 * 100vw);
  }

  @media (max-width: $mobile-width-only) {
    width: 226px;
  }
}

.reviews--nojs .reviews__swiper {
  width: auto;
}

.reviews__list {
  color: $base-light-color;
  min-height: 242px;
}

.reviews--nojs .reviews__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @media (max-width: $max-tablet-width) {
    display: block;
  }
}

.reviews--nojs .reviews__item {
  @media (max-width: $max-tablet-width) {
    margin-bottom: 30px;
  }
}

.reviews__item:last-child {
  @media (max-width: $max-tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__buttons-wrapper {
  position: absolute;
  top: 50%;
  z-index: 2;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 0;
}

.reviews--nojs .reviews__buttons-wrapper {
  display: none;
}

.reviews__button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: transparent;
}

.reviews__button:hover {
  opacity: 0.6;
}

.reviews__button:active {
  opacity: 1;
}

.reviews__button--next {
  margin: 0 0 0 auto;
}

.reviews__button-icon {
  fill: transparent;

  @media (max-width: $max-mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.reviews__button--prev .reviews__button-icon {
  transform: rotate(180deg);
}

.swiper-button-disabled {
  pointer-events: none;
}
