.trainer {
  position: relative;
  display: block;
  padding: 244px 10px 10px;
  box-sizing: border-box;
  min-height: 294px;
  width: 260px;

  @media (max-width: $desktop-stretching-width) {
    min-height: calc(294 / 1338 * 100vw);
    width: calc(260 / 1338 * 100vw);
    padding-top: calc(244 / 1338 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: calc(268 / 768 * 100vw);
    min-height: calc(294 / 768 * 100vw);
    padding-top: calc(244 / 768 * 100vw);
  }

  @media (max-width: $max-mobile-width) {
    width: calc(226 / 320 * 100vw);
    min-height: calc(274 / 320 * 100vw);
    padding-top: calc(225 / 320 * 100vw);
  }

  @media (max-width: $mobile-width-only) {
    width: 226px;
    min-height: 274px;
    padding-top: 225px;
  }
}

.trainer:hover,
.trainer:focus {
  cursor: pointer;
  padding: 51px 46px 10px;

  @media (max-width: $desktop-stretching-width) {
    padding-top: calc(31 / 1338 * 100vw);
    padding-left: calc(36 / 1338 * 100vw);
    padding-right: calc(36 / 1338 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    padding: 51px 46px 10px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 41px 33px 41px 25px;
  }
}

.trainer__picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $base-dark-color;
  width: 260px;
  height: 294px;

  @media (max-width: $desktop-stretching-width) {
    width: calc(260 / 1338 * 100vw);
    height: calc(294 / 1338 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: calc(268 / 768 * 100vw);
    height: calc(294 / 768 * 100vw);
  }

  @media (max-width: $max-mobile-width) {
    width: calc(226 / 320 * 100vw);
    height: calc(274 / 320 * 100vw);
  }

  @media (max-width: $mobile-width-only) {
    width: 226px;
    height: 274px;
  }
}

.trainer:hover .trainer__picture::after,
.trainer:focus .trainer__picture::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: $background-color-type-2;
  z-index: 2;
}

.trainer__picture img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.trainer h3 {
  font-size: 18px;
  line-height: 27px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.trainer__wrapper {
  display: none;
  position: relative;
  z-index: 2;
}

.trainer:hover .trainer__wrapper,
.trainer:focus .trainer__wrapper {
  display: block;
}

.trainer__wrapper p {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: $light-color-type-4;
  margin-bottom: 35px;
}
