// Colors

$base-dark-color: #102654;
$dark-color-type-2: rgba(16, 38, 84, 0.5);
$dark-color-type-3: #103aae;
$dark-color-type-4: #00359f;
$dark-color-type-5: #0041ca;
$dark-color-type-6: #2e35ac;
$dark-color-type-7: #030a1a;
$dark-color-type-8: #003eb7;
$base-light-color: #ffffff;
$light-color-type-2: #f8f9fc;
$light-color-type-3: #e8e8e8;
$light-color-type-4: #b6bdcc;
$light-color-type-5: #74819c;
$underline-color: #d10a42;
$underline-color-type-2: rgba(120, 120, 120, 0.2);
$underline-color-type-3: rgba(209, 10, 66, 0.2);
$background-color-type-1: #ed0233;
$background-color-type-2: rgba(16, 38, 84, 0.89);
$background-color-type-3: #1c3374;
$background-color-type-4: #003d85;
$background-color-type-5: #b80027;
$background-color-type-6: rgba(20, 54, 122, 0.5);

// Viewports

$mobile-width-only: 320px;
$mobile-width-control-point: 530px;
$max-mobile-width: 767px;
$max-tablet-width: 1199px;
$desktop-stretching-width: 1338px;
$desktop-stretching-max-width: 1365px;
